/// Styles a button that contains an icon.
/// In Atlas the icons are added differently.

.mxfeedback-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-small;

    svg {
        width: $mxfeedback-icon-size-sm;
        height: $mxfeedback-icon-size-sm;
        fill: currentColor;
    }
}
